<!DOCTYPE html>
<html>
<head>
    <title>Demo</title>
    <style>
        #div1 {
            margin:10px;
            font-size:1.25em;
        }

        table {
            border-collapse:collapse;
            border:1px solid #7f7f7f;
        }

        td {
            border:1px solid #7f7f7f;
            width:50px;height:50px;
            text-align:center;
        }
    </style>
</head>


<div class="table-responsive">
    <table class="table table-bordered" id="dataTfable" width="100%" cellspacing="0">
        <thead>
        <tr>
            <th>Imię</th>
            <th>id</th>
            <th>MyId</th>

        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>Imię</th>
            <th>id</th>
            <th>MyId</th>

        </tfoot>
        <tbody>
        <tr  th:each="memberDto: ${memberDto}">
            <td  th:text="${memberDto.getName()}"></td>
            <td th:text="${memberDto.getIdtest}"></td>
            <td id="us1er_id"></td>
            <td> <input type="text" id="user_id" th:value="${memberDto.getIdtest}">
                <button onclick="myFunction()">Copy text</button></td>

        </tr>
        <script>
            document.querySelectorAll("tr").forEach((v,i)=>v.id=i+1);
        </script>
        <script>
            document.querySelectorAll("identifier").forEach((v,i)=>v.id=i+1);
        </script>
        </tbody>
    </table>
</div>

<script type="text/javascript">
    function addMoreRows() {
        var user = document.getElementById('user_id').value;
        var table = document.getElementById('tbl_id');

        var row = table.insertRow();

        var userName = row.insertCell(0);
        var scores = row.insertCell(1);
        var points = row.insertCell(2);
        var total = row.insertCell(3);

        userName.innerHTML = user;
        scores.innerHTML = '1';
        points.innerHTML = '2';
        total.innerHTML = (scores.innerHTML + points.innerHTML).toString();
    }
</script>

<script>
    function myFunction() {
        var copyText = document.getElementById("myInput");
        copyText.select();
        copyText.setSelectionRange(0, 99999);
        navigator.clipboard.writeText(copyText.value);
        alert("ID to: " + copyText.value);
    }


</script>

<form align="center" method="GET">
    <input type="text" name="users" id="user_i1d" value="1"><br>
    <input type="button" id="mysubmit" value="Submit" onClick="addMoreRows()">
</form>

<table id="tbl_id" style="text-align:center" align="center" valign="top">
    <thead>
    <tr>
        <th>Name</th>
        <th>Score</th>
        <th>Points</th>
        <th>Total</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>

<body >
<div id="div11"></div>
<script>
    var totalRows = 5;
    var cellsInRow = 5;
    var min = 1;
    var max = 10;

    function drawTable() {
        // get the reference for the body
        var div1 = document.getElementById('div1');

        // creates a <table> element
        var tbl = document.createElement("table");

        // creating rows
        for (var r = 0; r < totalRows; r++) {
            var row = document.createElement("tr");

            // create cells in row
            for (var c = 0; c < cellsInRow; c++) {
                var cell = document.createElement("td");
                getRandom = Math.floor(Math.random() * (max - min + 1)) + min;
                var cellText = document.createTextNode(Math.floor(Math.random() * (max - min + 1)) + min);
                cell.appendChild(cellText);
                row.appendChild(cell);
            }

            tbl.appendChild(row); // add the row to the end of the table body
        }

        div1.appendChild(tbl); // appends <table> into <div1>
    }
    window.onload=drawTable;
</script>
</body>
</html>