<div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
        <tr>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Wiek</th>
            <th>Data Urodzin</th>
            <th>Dodaj</th>

        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Wiek</th>
            <th>Data urodzin</th>
            <th>Dodaj</th>

        </tfoot>
        <tbody>
        <tr th:each="memberDto: ${memberDto}">
            <td th:text="${memberDto.getName()}"></td>
            <td th:text="${memberDto.getFamilyName()}"></td>
            <td th:text="${memberDto.getAge()}"></td>
            <td th:text="${memberDto.getBirthday()}"></td>
            <td> <form class="user" th:method="POST" th:action="@{/test}" th:object="${userDetails}"
                      id="loginForm">
            <input type="hidden" th:value="${memberDto.getId}" th:attr="name='id'"/>
            <input type="submit" value="+" class=" btn btn-success btn-circle ">
        </form></td>
        </tr>
        </tbody>
    </table>
</div>