<div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
        <tr>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Wiek</th>
            <th>Data Urodzin</th>
            <th>ojciec</th>
            <th>matka</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="memberDto: ${memberDto}">
            <td th:text="${memberDto.getName()}"></td>
            <td th:text="${memberDto.getFamilyName()}"></td>
            <td th:text="${memberDto.getAge()}"></td>
            <td th:text="${memberDto.getBirthday()}"></td>
            <td th:text="${memberDto.getFather}"></td>
            <td th:text="${memberDto.getMather}"></td>

        </tr>
        </tbody>
    </table>
</div>