<form class="user" th:method="POST" th:action="@{/test}" th:object="${userDetails}"
      id="loginForm">
  <input type="hidden" th:value="${memberDto.getIdtest}" th:attr="name='id'"/>
  <input type="submit" value="Dodaj" class="btn btn-success btn-user btn-block">
</form>


<td th:switch="${memberDto.getFatherID == null}">
  <span th:case="true"th:insert="menuAndFormsFragments/redirectFormToAddRelatives"></span>
  <span th:case="false"th:text="${memberDto.getFatherID}" ></span>
</td>


<form action="/action_page.php">
  <label for="relatives">Dodaj członka rodziny</label>
  <select id="relatives" name="rel">
    <option value="1">Dodaj ojca</option>
    <option value="saab">Dodaj dziecko</option>
    <option value="fiat">Dodaj matkę</option>
    <option value="audi">Dodaj partnera</option>
  </select>
  <input type="submit">
</form>



<select id="relatives" onChange="update()">
  <option value="1">Dodaj ojca</option>
  <option value="2">Dodaj dziecko</option>
  <option value="3">Dodaj matkę</option>
  <option value="4">Dodaj partnera</option>
</select>
<input type="text" id="value">

<script type="text/javascript">
  function update() {
    var select = document.getElementById('relatives');
    var option = select.options[select.selectedIndex];

    document.getElementById('value').value = option.value;
  }
  update();
</script>


<div class="float-left">
  <select name="sources" id="sources" class="btn btn-success btn-user btn-block" placeholder="Source Type"
          onChange="update()">
    <option style="display:none;"></option>
    <option value="1">Dodaj ojca</option>
    <option value="2">Dodaj dziecko</option>
    <option value="3">Dodaj matkę</option>
    <option value="4">Dodaj partnera</option>
  </select>
  <script>
    function update() {
      var select = document.getElementById('sources');
      var option = select.options[select.selectedIndex];

      document.getElementById('value').value = option.value;
    }
  </script>
  <input id="value" th:field="*{secondId}" th:attr="name='value'">

</div>