<div th:if="${#fields.hasErrors()}">
                             <span class="validationError">
                                 Proszę poprawić błędy w formularzu.
                             </span>
    <br>
    <br>
</div>

<div class="form-group">
    <span class="validationError"
              th:if="${#fields.hasErrors('name')}"
              th:errors="*{name}">Name Error</span>
    <input type="text" class="form-control form-control-user"
           name="name" id="name"
           placeholder="Enter name..." pattern="[A-Za-ząćęłńóśźżĄĆĘŁŃÓŚŻŹ\s\-]{1,}"
           th:field="*{name}"/>

</div>

<div class="form-group">
    <span class="validationError"
            th:if="${#fields.hasErrors('familyName')}"
            th:errors="*{familyName}">Surname Error</span>
    <input type="text" class="form-control form-control-user"
           name="familyName" id="familyName"
           placeholder="Enter family name..." pattern="[A-Za-ząćęłńóśźżĄĆĘŁŃÓŚŻŹ\s\-]{1,}"
           th:field="*{familyName}"/>

</div>

<div class="form-group">
    <span class="validationError"
              th:if="${#fields.hasErrors('birthday')}"
              th:errors="*{birthday}">Birthday Error</span>
    <input type="date"  min="1900-01-01" id="dt" class="form-control form-control-user"
           name="birthday"
           th:field="*{birthday}"/>
    <script>
        document.getElementById('dt')
            .max = new Date(new Date().getTime() - new Date()
            .getTimezoneOffset() * 60000).toISOString().split("T")[0];
    </script></div>