<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.w3.org/1999/XSL/Transform">

<div th:insert="head"></div>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <div th:insert="sidebar"></div>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <div th:insert="topbar"></div>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Członkowie Twojej rodziny</h1>
                </div>
                <!-- Content Row -->
                <div class="row">

                </div>

                <!-- Content Row -->
                <div class="row">

                    <!-- Content Column -->
                    <div class="col-lg-6 mb-4">

                        <!-- DataTales Example -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Oto lista członków Twojej rodziny:</h6>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                        <tr>
                                            <th>Imię</th>
                                            <th>Nazwisko</th>
                                            <th>Dojrzałość</th>
                                            <th>Data urodzenia</th>
                                        </tr>
                                        </thead>
                                        <tfoot>
                                        <tr>
                                            <th>Imię</th>
                                            <th>Nazwisko</th>
                                            <th>Dojrzałość</th>
                                            <th>Data urodzenia</th>
                                        </tfoot>
                                        <tbody>
                                        <tr th:each="member: ${family.members}">
                                            <td th:text="${member.getName()}" />
                                            <td th:text="${member.getFamilyName()}" />
                                            <td th:text="${member.getMature()}" />
                                            <td th:text="${member.getBirthday()}" />
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                        <a class="btn btn-primary btn-user btn-block"  th:href="@{/create}" id="another">dodaj członka rodziny</a>
                        <br>
                        <form method="POST" th:action="@{/family/submit}" th:object="${family}" id="family">
                            <input type="submit" value="Zakończ" class="btn btn-success btn-user btn-block">
                        </form>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-4">

                        <!-- Illustrations -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Przydatne informacje</h6>
                            </div>
                            <div class="card-body">
                                <div class="text-center">
                                    <img class="img-profile rounded-circle"
                                         th:src="@{/images/family.png}" alt="family.png"/>
                                </div>
                                <p>Znajdujesz się w miejscu edycji swojej rodziny.</p>
                                <p>W tym miejscu następuje weryfikacja liczby członków rodziny.</p>
                                <p>Jeżeli jest ich więcej, niż zadeklarowano na początku, zostaną usunięci z listy.</p>
                                <p>Możesz też dodać następnego członka rodziny. Jeżeli nie utworzysz ich,
                                    tylu ilu zadeklarowano, Twoja rodzina nie zostanie zapisana.</p>
                                <p>Życzymy powodzenia.</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Krzysztof Wrycza 2022</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<div th:insert="footer"></div>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/bootstrap/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/bootstrap/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/bootstrap/js/sb-admin-2.min.js}"></script>


<!-- Page level plugins -->
<script th:src="@{/bootstrap/vendor/chart.js/Chart.min.js}"></script>
<script th:src="@{/bootstrap/vendor/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/bootstrap/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

<!-- Page level custom scripts -->
<script th:src="@{/bootstrap/js/demo/datatables-demo.js}"></script>

</body>
</html>