<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.w3.org/1999/XSL/Transform">
<head>
    <title>Family Creator</title>
    <link th:href="@{/style.css}" rel="stylesheet" />
</head>

<body>
<h1>Create Your family member</h1>
<img th:src="@{/images/family.png}" alt="family.png"/></head>
<br>
<br>

<form th:method="POST" th:action="@{/find}" th:object="${family}" id="family">

    <label for="id">Podaj id rodziny </label>
    <input type="number" th:field="*{id}"/>

    <br>
    <br>
    <button>Find Family</button>
</form>
<br>
<br>
<a th:href="@{/}" id="home">home</a>
<br>

<br>
<form method="POST" th:action="@{/logout}" id="logoutForm">
    <input type="submit" value="Logout"/>
</form>

</body>
</html>