<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.w3.org/1999/XSL/Transform">
<head>
    <title>Family Creator</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>

<h1> Welcome in Family Creator</h1>
<img th:src="@{/images/family.png}" alt="family.png"/>
<br>
<a th:href="@{/create/addYourself}" id="fam">Utwórz swoją rodzinę</a>
<br>
<br>
<a th:href="@{/find}" id="find">znajdź swoja rodzinę</a>
<br>
<br>
<form method="POST" th:action="@{/logout}" id="logoutForm">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>