<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.w3.org/1999/XSL/Transform">
<head>
    <title>Family Creator</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
<div th:if="${Error}">
    Unable to login. Check your username and password.
</div>
<br/>

<p>Jesteś tu nowy? kliknij
    <a th:href="@{/register}">tutaj</a> żeby się zarejestrować.</p>

<br>

<form method="POST" th:action="@{/login}" id="loginForm">
    <label for="username">Username: </label>
    <input type="text" name="username" id="username" /><br/>
    <br>

    <label for="password">Password: </label>
    <input type="password" name="password" id="password" /><br/>
    <br>

    <input type="submit" value="Login"/>
</form>
</body>
</html>