<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.w3.org/1999/XSL/Transform">
<head>
    <title>Family Creator</title>
    <link th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>

<h1> Welcome in Family Creator</h1>
<img th:src="@{/images/family.png}" alt="family.png"/>

<form method="POST" th:action="@{/register}"  id="registerForm">

    <label for="username">Nazwa Użytkownika: (min 3 znaki!) </label>
    <input type="text" name="username"/><br/>
    <br>

    <label for="password">Hasło: </label>
    <input type="text" name="password"/><br/>
    <br>

    <label for="checkpassword">Potwierdź hasło: </label>
    <input type="text" name="checkpassword"/><br/>
    <br>

    <input type="submit" value="Zarejestruj">
</form>

</body>
</html>