<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.w3.org/1999/XSL/Transform">

<div th:insert="head"></div>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <div th:insert="sidebar"></div>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <div th:insert="topbar"></div>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">
                        <a class="btn btn-warning btn-circle">
                        <i class="fas fa-exclamation-triangle"></i>
                    </a> Dodano za dużo członków rodziny, z bazy danych usunięto tego, którego utworzono najpóźniej.</h1>
                </div>
                <!-- Content Row -->
                <div class="row">

                </div>

                <!-- Content Row -->
                <div class="row">

                    <!-- Content Column -->
                    <div class="col-lg-4 mb-4">

                        <!-- DataTales Example -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-danger">
                                    <a class="btn btn-warning btn-circle">
                                    <i class="fas fa-exclamation-triangle"></i>
                                </a>  Zadeklarowana liczba członków rodziny wg wieku:</h6>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                        <tr>
                                            <th>Niemowlęta 0-3 lata    </th>
                                            <th>Dzieci 4-16 lat   </th>
                                            <th>Dorośli powyżej 16 lat</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="family: ${family}">
                                            <td th:text="${family.getNrOfInfants()}"></td>
                                            <td th:text="${family.getNrOfChildren()}"></td>
                                            <td th:text="${family.getNrOfAdults()}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-4">
                            <form method="POST" th:method="POST" th:action="@{/family}" id="remove">
                                <input type="submit" value="Kontynuuj" class="btn btn-primary btn-user btn-block">
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-8 mb-4">

                        <!-- Illustrations -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h3 class="m-0 font-weight-bold text-danger">UWAGA!</h3>
                            </div>
                            <div class="card-body">
                                <div class="text-center">
                                    <img class="img-profile rounded-circle"
                                         th:src="@{/images/family.png}" alt="family.png"/>
                                </div>
                                <p>Jeżeli widzisz tę stronę to utworzono więcej członków rodziny niż zadeklarowano!</p>
                                <p>W tabeli obok znajduje się liczba członków rodziny zadeklarowanych przez Ciebie wg kategorii wiekowej.</p>
                                <p>Możesz kontynuować tworzenie rodziny poprzez kliknięcie kontynuuj pod tabelą.</p>
                                <p>Nastąpi przekierowanie do strony, która zawiera listę członków Twojej rodziny.</p>
                                <p>Jeżeli początkowo podano złą liczbę członków rodziny, możesz przerwać jej tworzenie wylogowując się.</p>
                                <p>Jeśli chcesz kontynuować, możesz dodać nowych członków rodziny, aby to zrobić, zakończ tworzenie rodziny.
                                    Następnie w zakładce aktualizuj dane- wciśnij- dodaj członka rodziny.</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Krzysztof Wrycza 2022</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<div th:insert="footer"></div>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/bootstrap/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/bootstrap/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/bootstrap/js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script th:src="@{/bootstrap/vendor/chart.js/Chart.min.js}"></script>

</body>
</html>