<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <title>Family Creator </title>
    <link th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>

<h1>Nr Twojej rodziny</h1>
<h2>* zapisz go lub zapamiętaj by odnaleźć swoją rodzinę.</h2>
<table>
    <tr>
        <th>Nr Twojej rodziny</th>
    </tr>
    <tr th:each="family : ${family}">
        <td th:text="${family.getId()}"></td>
    </tr>
</table>
<br>
<a th:href="@{/}" id="home">home</a>
<br>

<br>
<form method="POST" th:action="@{/logout}" id="logoutForm">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>