<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.w3.org/1999/XSL/Transform">

<div th:insert="menuAndFormsFragments/head"></div>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <div th:insert="menuAndFormsFragments/sidebar"></div>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <div th:insert="menuAndFormsFragments/topbar"></div>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Podaj najważniejsze informacje o swojej rodzinie.</h1>
                </div>
                <!-- Content Row -->
                <div class="row">


                </div>

                <!-- Content Row -->
                <div class="row">

                    <!-- Content Column -->
                    <div class="col-lg-4 mb-4">

                        <!-- service -->
                        <form class="user" method="POST" th:action="@{/modify/addFamily}" th:object="${family}" id="loginForm">

                            <div th:if="${#fields.hasErrors()}">
                            </div>

                            <div class="form-group">
                                <label for="familyName">Nazwisko rodowe: </label>
                                <input type="text" class="form-control form-control-user"
                                       name="familyName" id="familyName" aria-describedby="emailHelp"
                                       placeholder="Enter family name..." pattern="[A-Za-ząćęłńóśźżĄĆĘŁŃÓŚŻŹ\s\-]{1,}" th:field="*{familyName}"/>
                                <span class="validationError"
                                      th:if="${#fields.hasErrors('familyName')}"
                                      th:errors="*{familyName}">Name Error</span>
                            </div>


<!--                            <div class="form-group">-->
<!--                                <label for="nrOfInfants">Liczba niemowląt (poniżej 4 lat): </label>-->
<!--                                <input type="number" min="0" max="100" required th:min="0"-->
<!--                                       class="form-control form-control-user"-->
<!--                                       name="nrOfInfants" id="nrOfInfants" aria-describedby="emailHelp"-->
<!--                                       placeholder="Enter number of infants..."-->
<!--                                       th:field="*{nrOfInfants}"/>-->

<!--                            </div>-->

<!--                            <div class="form-group">-->
<!--                                <label for="nrOfChildren">liczba dzieci (4-16 lat): </label>-->
<!--                                <input type="number" min="0" max="100" required th:min="0"-->
<!--                                       class="form-control form-control-user"-->
<!--                                       name="nrOfChildren" id="nrOfChildren" aria-describedby="emailHelp"-->
<!--                                       placeholder="Enter number of children..."-->
<!--                                       th:field="*{nrOfChildren}"/>-->

<!--                            </div>-->

<!--                            <div class="form-group">-->
<!--                                <label for="nrOfAdults">liczba dorosłych ( powyżej 16 lat):</label>-->
<!--                                <input type="number" min="0" max="100" required th:min="0"-->
<!--                                       class="form-control form-control-user"-->
<!--                                       name="nrOfAdults" id="nrOfAdults" aria-describedby="emailHelp"-->
<!--                                       placeholder="Enter number of adults..."-->
<!--                                       th:field="*{nrOfAdults}"/>-->

<!--                            </div>-->


                            <input type="submit" value="Dodaj" class="btn btn-primary btn-user btn-block">
                            <input type="reset" value="Reset" class="btn btn-dark btn-user btn-block">
                        </form>


                    </div>
                    <div class="col-lg-6 mb-4">

                        <!-- Illustrations -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Przydatne informacje</h6>
                            </div>
                            <div class="card-body">
                                <div class="text-center">
                                    <img class="img-profile rounded-circle"
                                         th:src="@{/images/family.png}" alt="family.png"/>
                                </div>
                                <p>W tej części musisz podać kilka informacji o swojej rodzinie:</p>
                                <p>Podaj nazwisko rodowe swojej rodziny.</p>
                                <p>Liczbę niemowląt. (Dzieci, które nie ukończyły 4 lat). </p>
                                <p>Liczbę dzieci. (Dzieci i młodzież w wieku 0d 4 d0 16 lat).</p>
                                <p>Liczbę dorosłych. (Wszyscy powyżej 16).</p>
                                <p>Twoja rodzina to również Ty. Dlatego minimalna liczba dorosłych to co najmniej 1.</p>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Krzysztof Wrycza 2022</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<div th:insert="menuAndFormsFragments/footer"></div>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/bootstrap/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/bootstrap/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/bootstrap/js/sb-admin-2.min.js}"></script>


<!-- Page level plugins -->
<script th:src="@{/bootstrap/vendor/chart.js/Chart.min.js}"></script>

</body>

</html>